<div class="full-fottor">
    <div class="devide-2">
        <div class="divid-6 media-flex">
            <div class="link ">
                <h2>Links</h2>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#service">Service</a></li>
                    <li><a href="#project">Projact</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="link ">
                <h2>Seervice</h2>
                <ul>
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Banner Design</a></li>

                </ul>
            </div>
            <div class="link social ">
                <h2>Contact</h2>
                <div class="address">
                    <h2 class="form-head"><i class="fa-solid fa-location-dot"></i><span class="form-span">VPO
                            MEHARI (DIST)CHURU RAJASTHAN</span></h2>
                    <h2 class="form-head"><a href="tel:+9783636152"><i class="fa-solid fa-phone"></i><span
                                class="form-span">9783636152</span></a>
                    </h2>
                    <h2 class="form-head"><i class="fa-solid fa-envelope"></i><span class="form-span"><a
                                href="mailto:tcchoudhary13@gmail.com">tcchoudhary13@gmail.com</a></span></h2>
                </div>
                <div class="media">
                    <ul>
                        <li><a href="#"></a><i class="fa-brands fa-instagram"></i></li>
                        <li><a href="#"></a><i class="fa-brands fa-facebook"></i></li>
                        <li><a href="#"></a><i class="fa-brands fa-whatsapp"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/script/index.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script>
    $(".menu a").click(function () {
        $(".menu a").removeClass("active");
        $(this).addClass("active");
    });
    $(".menu-bar").click(function () {
        $("nav").toggle();
    })
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
<script src="/script/progresscircle.js"></script>
<script>
    $(function () {

        $('.circlechart').circlechart();

    });
</script>
</body>

</html>