<!DOCTYPE html>
<html lang="en">

<head>

    <title>portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/typed.js"></script>
    <link rel="stylesheet" href="/css/progresscircle.css">
</head>

<body>



    <div class="menu-bar" onclick="onclickmenu()" id="menu">
        <div class="bar" id="bar1"></div>
        <div class="bar" id="bar2"></div>
        <div class="bar" id="bar3"></div>
    </div>
    <nav class="navbar">

        <ul class="menu">
            <li class="current"><a href="/" class="active">HOME</a></li>
            <li class="current"><a href="/about">ABOUT</a></li>
            <li class="current"><a href="/skill">SKILLS</a></li>
            <li class="current"><a href="/service">SERVICES</a></li>
            <li class="current"><a href="/project">PROJECTS</a></li>
            <li class="current"><a href="/contact">CONTACT</a></li>
        </ul>
    </nav>


    <div class="div">