<%- include('partials/header'); -%>

    <section id="about">
        <div class="devide-2">
            <div class="divid-6">
                <div class="half-1">
                    <img src="/img/wtsp.jpeg" alt="tc choudhary">

                </div>
                <div class="half-2">
                    <h4>MY INTRO</h4>
                    <h1>About Me</h1>
                    <p>I am passionate about my work. Because I love what I do, I have a steady source of motivation
                        that
                        drives
                        me to do my best. In my last job, this passion led me to challenge myself daily and learn new
                        skills
                        that helped me to do better work..</p>
                    <ul>
                        <li>
                            <h2>Name:</h2><span class="form-type">Tc Choudhary</span>
                        </li>
                        <li>
                            <h2>Date of birth:</h2><span class="form-type">september 13,1999</span>
                        </li>
                        <li>
                            <h2>Address:</h2><span class="form-type">Mehari (dist)churu rajsthan</span>
                        </li>
                        <li>
                            <h2>Zip code:</h2><span class="form-type">331403</span>
                        </li>
                        <li>
                            <h2>Email:</h2><span class="form-type">tcchoudhary13@gmail.com</span>
                        </li>
                        <li>
                            <h2>Phone:</h2><span class="form-type">9783636152</span>
                        </li>
                    </ul>
                    <div class="myintrest">
                        <div class="containt">
                            <div class="febicon"><i class="fa-solid fa-music"></i></div>
                            <div class="text"> Music</div>
                        </div>
                        <div class="containt">
                            <div class="febicon"><i class="fa-solid fa-cart-flatbed-suitcase"></i></div>
                            <div class="text">Trevel</div>
                        </div>
                        <div class="containt">
                            <div class="febicon"><i class="fa-solid fa-square-code"></i></div>
                            <div class="text">Coding</div>
                        </div>
                        <div class="containt">
                            <div class="febicon"><i class="fa-solid fa-bicycle"></i></div>
                            <div class="text">Sports</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer'); -%>