<%- include('partials/header'); -%>

    <section id="contact">
        <div class="contact">
            <div class="devide-2">
                <div class="contact">
                    <span class="span-heading">ACCOMPLISHMENTS</span>
                    <h3 class="bigg">Contact us
                    </h3>
                    <p class="pra">Far far away, behind the word mountains, far from the countries Vokalia and
                        Consonantia
                    </p>
                </div>
                <div class="divid-6 form-flex">
                    <div class="form-div">
                        <form action="blank">
                            <div class=" divid-6">
                                <input type="text" placeholder="Your Name" name="" value="" class="m-right">
                                <input type="email" placeholder="Youe Email" name="" value="" class="m-left">
                            </div>
                            <div class="subject">
                                <input type="text" placeholder="Subject" name="" value="">
                            </div>
                            <div class="massege">
                                <textarea name="Massege" id="" cols="10" rows="10" placeholder="Massege"></textarea>
                            </div>
                            <button type="submit">Send Massege</button>
                        </form>
                    </div>
                    <div class="address-bar">
                        <h2 class="form-heading"><i class="fa-solid fa-location-dot"></i>Address:<span>VPO MEHARI
                                (DIST)CHURU RAJASTHAN</span></h2>
                        <h2 class="form-heading"><i class="fa-solid fa-phone"></i>Phone:<span>9783636152</span></h2>
                        <h2 class="form-heading"><i
                                class="fa-solid fa-envelope"></i>Email:<span>tcchoudhary13@gmail.com</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer'); -%>