<%- include('partials/header'); -%>
    </div>
    <div class="main">
        <div class="devide-2">
            <div class="infocontainer">
                <div class="devinfo">
                    <div class="hello">Hi I'm</div>
                    <div class="name">Tarachand Mahiya</div>
                    <div class="autotyping">And i'm a &nbsp;<span class="typing_text"></span></div>
                    <div class="buttons">
                        <button type="button">Hire Me</button>
                        <button type="button" class="btn">Download Cv</button>
                    </div>
                </div>
                <div class="devpic">
                    <img src="/img/tcc.png" alt="tc choudhary">
                </div>
            </div>
        </div>
    </div>

    <section id="about">
        <div class="devide-2">
            <div class="divid-6">
                <div class="half-1">
                    <img src="/img/wtsp.jpeg" alt="tc choudhary">

                </div>
                <div class="half-2">
                    <h4>MY INTRO</h4>
                    <h1>About Me</h1>
                    <p>I am passionate about my work. Because I love what I do, I have a steady source of motivation
                        that
                        drives
                        me to do my best. In my last job, this passion led me to challenge myself daily and learn new
                        skills
                        that helped me to do better work..</p>
                    <ul>
                        <li>
                            <h2>Name:</h2><span class="form-type">Tc Choudhary</span>
                        </li>
                        <li>
                            <h2>Date of birth:</h2><span class="form-type">september 13,1999</span>
                        </li>
                        <li>
                            <h2>Address:</h2><span class="form-type">Mehari (dist)churu rajsthan</span>
                        </li>
                        <li>
                            <h2>Zip code:</h2><span class="form-type">331403</span>
                        </li>
                        <li>
                            <h2>Email:</h2><span class="form-type">tcchoudhary13@gmail.com</span>
                        </li>
                        <li>
                            <h2>Phone:</h2><span class="form-type">9783636152</span>
                        </li>
                    </ul>
                    <div class="myintrest">
                        <div class="containt">
                            <div class="febicon"><i class="fa-solid fa-music"></i></div>
                            <div class="text"> Music</div>
                        </div>
                        <div class="containt">
                            <div class="febicon"><i class="fa-solid fa-cart-flatbed-suitcase"></i></div>
                            <div class="text">Trevel</div>
                        </div>
                        <div class="containt">
                            <div class="febicon"><i class="fa-solid fa-square-code"></i></div>
                            <div class="text">Coding</div>
                        </div>
                        <div class="containt">
                            <div class="febicon"><i class="fa-solid fa-bicycle"></i></div>
                            <div class="text">Sports</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="skills">
        <div class="skill-container">
            <div class="devide-2">
                <div class="skill-main">
                    <span class="span-heading">
                        SKILLS
                    </span>
                    <h2 class="bigg">MY SKILLS</h2>
                    <P class="pra">Far far away, behind the word mountains, far from the countries Vokalia and
                        Consonantia
                    </P>

                    <div class="divid-6">

                        <div class="shadow">
                            <h4>CSS</h4>
                            <div class="circlechart" data-percentage="90"></div>
                            <div class="flex">
                                <div class="sec-divid">
                                    <span class="prsent">28%</span>
                                    <h5>last week</h5>
                                </div>
                                <span class="border"></span>
                                <div class="sec-divid">
                                    <span class="prsent">60%</span>
                                    <h5>last month</h5>
                                </div>
                            </div>
                        </div>

                        <div class="shadow">
                            <h4>HTML</h4>
                            <div class="circlechart" data-percentage="98"></div>
                            <div class="flex">
                                <div class="sec-divid">
                                    <span class="prsent">28%</span>
                                    <h5>last week</h5>
                                </div>
                                <span class="border"></span>
                                <div class="sec-divid">
                                    <span class="prsent">60%</span>
                                    <h5>last month</h5>
                                </div>
                            </div>
                        </div>

                        <div class="shadow">
                            <h4>jquery</h4>
                            <div class="circlechart" data-percentage="80"></div>
                            <div class="flex">
                                <div class="sec-divid">
                                    <span class="prsent">28%</span>
                                    <h5>last week</h5>
                                </div>
                                <span class="border"></span>
                                <div class="sec-divid">
                                    <span class="prsent">60%</span>
                                    <h5>last month</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="divid-6">

                        <div class="shadow">
                            <h4>WORDPRES</h4>
                            <div class="circlechart" data-percentage="70"></div>
                            <div class="flex">
                                <div class="sec-divid">
                                    <span class="prsent">28%</span>
                                    <h5>last week</h5>
                                </div>
                                <span class="border"></span>
                                <div class="sec-divid">
                                    <span class="prsent">60%</span>
                                    <h5>last month</h5>
                                </div>
                            </div>
                        </div>

                        <div class="shadow">
                            <h4>PHOTOSHOP</h4>
                            <div class="circlechart" data-percentage="85"></div>
                            <div class="flex">
                                <div class="sec-divid">
                                    <span class="prsent">28%</span>
                                    <h5>last week</h5>
                                </div>
                                <span class="border"></span>
                                <div class="sec-divid">
                                    <span class="prsent">60%</span>
                                    <h5>last month</h5>
                                </div>
                            </div>
                        </div>

                        <div class="shadow">
                            <h4>Js</h4>
                            <div class="circlechart" data-percentage="68"></div>
                            <div class="flex">
                                <div class="sec-divid">
                                    <span class="prsent">10%</span>
                                    <h5>last week</h5>
                                </div>
                                <span class="border"></span>
                                <div class="sec-divid">
                                    <span class="prsent">50%</span>
                                    <h5>last month</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="divid-6">
                        <div class="shadow">
                            <h4>Express</h4>
                            <div class="circlechart" data-percentage="90"></div>
                            <div class="flex">
                                <div class="sec-divid">
                                    <span class="prsent">28%</span>
                                    <h5>last week</h5>
                                </div>
                                <span class="border"></span>
                                <div class="sec-divid">
                                    <span class="prsent">60%</span>
                                    <h5>last month</h5>
                                </div>
                            </div>
                        </div>
                        <div class="shadow">
                            <h4>Node js</h4>
                            <div class="circlechart" data-percentage="60"></div>
                            <div class="flex">
                                <div class="sec-divid">
                                    <span class="prsent">28%</span>
                                    <h5>last week</h5>
                                </div>
                                <span class="border"></span>
                                <div class="sec-divid">
                                    <span class="prsent">60%</span>
                                    <h5>last month</h5>
                                </div>
                            </div>
                        </div>

                        <div class="shadow">
                            <h4>MongoDB</h4>
                            <div class="circlechart" data-percentage="87"></div>
                            <div class="flex">
                                <div class="sec-divid">
                                    <span class="prsent">28%</span>
                                    <h5>last week</h5>
                                </div>
                                <span class="border"></span>
                                <div class="sec-divid">
                                    <span class="prsent">60%</span>
                                    <h5>last month</h5>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="divid-6">
                        <div class="shadow">
                            <h4>Botstrap</h4>
                            <div class="circlechart" data-percentage="90"></div>
                            <div class="flex">
                                <div class="sec-divid">
                                    <span class="prsent">20%</span>
                                    <h5>last week</h5>
                                </div>
                                <span class="border"></span>
                                <div class="sec-divid">
                                    <span class="prsent">60%</span>
                                    <h5>last month</h5>
                                </div>
                            </div>
                        </div>
                        <div class="shadow">
                            <h4>React</h4>
                            <div class="circlechart" data-percentage="60"></div>
                            <div class="flex">
                                <div class="sec-divid">
                                    <span class="prsent">28%</span>
                                    <h5>last week</h5>
                                </div>
                                <span class="border"></span>
                                <div class="sec-divid">
                                    <span class="prsent">60%</span>
                                    <h5>last month</h5>
                                </div>
                            </div>
                        </div>

                        <div class="shadow">
                            <h4>Talwind</h4>
                            <div class="circlechart" data-percentage="80"></div>
                            <div class="flex">
                                <div class="sec-divid">
                                    <span class="prsent">28%</span>
                                    <h5>last week</h5>
                                </div>
                                <span class="border"></span>
                                <div class="sec-divid">
                                    <span class="prsent">60%</span>
                                    <h5>last month</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="service">
        <div class="service-container">
            <div class="devide-2">
                <div class="main-container-service">
                    <span class="span-heading">I AM GRAT AT </span>
                    <h2 class="bigg">We do awesome services for our clients </h2>
                    <p class="pra">Far far away, behind the word mountains, far from the countries Vokalia and
                        Consonantia
                    </p>
                </div>

                <div class="divid-6">
                    <div class="shadow">
                        <div class="awsome-icon-hover"><img src="webdesign.png" alt=""></div>
                        <div class="service-heading">
                            <h3>Web Design
                            </h3>
                            <p class="pra">A small river named Duden flows by their place and supplies.</p>
                        </div>
                    </div>
                    <div class="shadow">
                        <div class="awsome-icon-hover"><img src="webdevlo.jpg" alt=""></div>
                        <div class="service-heading">
                            <h3>Web Development</h3>
                            <p class="pra">A small river named Duden flows by their place and supplies.</p>
                        </div>
                    </div>
                    <div class="shadow">
                        <div class="awsome-icon-hover"><img src="banner.png" alt=""></div>
                        <div class="service-heading">
                            <h3>Banner Design</h3>
                            <p class="pra">A small river named Duden flows by their place and supplies.</p>
                        </div>
                    </div>
                    <div class="shadow">
                        <div class="awsome-icon-hover"><img src="webdevlo.jpg" alt=""></div>
                        <div class="service-heading">
                            <h3>Content Writer</h3>
                            <p class="pra">A small river named Duden flows by their place and supplies.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="project">
        <div class="our-project">
            <div class="devide-2">
                <div class="project">
                    <span class="span-heading">ACCOMPLISHMENTS</span>
                    <h3 class="bigg">Our Projects
                    </h3>
                    <p class="pra">Far far away, behind the word mountains, far from the countries Vokalia and
                        Consonantia

                    </p>
                </div>
                <div class="divid-6">
                    <div class="img"><a href="https://www.w3schools.com/w3css/tryw3css_templates_band.htm"><img
                                src="/img/band.webp" alt="band"></a>
                        <h2>the Band</h2>
                    </div>
                    <div class="img"><a href="https://www.w3schools.com/w3css/tryw3css_templates_architect.htm"><img
                                src="/img/arch.webp" alt="Architect"></a>
                        <h2>Architect</h2>
                    </div>
                    <div class="img"><a href="https://www.axiswebart.com/"><img src="/img/axis.webp" alt="axisweb"></a>
                        <h2>axisweb art</h2>
                    </div>
                    <div class="img"><a href="https://eesa.in/"><img src="/img/eesa.webp" alt="eesa"></a>
                        <h2>eesa.in</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="contact">
            <div class="devide-2">
                <div class="contact">
                    <span class="span-heading">ACCOMPLISHMENTS</span>
                    <h3 class="bigg">Contact us
                    </h3>
                    <p class="pra">Far far away, behind the word mountains, far from the countries Vokalia and
                        Consonantia
                    </p>
                </div>
                <div class="divid-6 form-flex">
                    <div class="form-div">
                        <form action="blank">
                            <div class=" divid-6">
                                <input type="text" placeholder="Your Name" name="" value="" class="m-right">
                                <input type="email" placeholder="Youe Email" name="" value="" class="m-left">
                            </div>
                            <div class="subject">
                                <input type="text" placeholder="Subject" name="" value="">
                            </div>
                            <div class="massege">
                                <textarea name="Massege" id="" cols="10" rows="10" placeholder="Massege"></textarea>
                            </div>
                            <button type="submit">Send Massege</button>
                        </form>
                    </div>
                    <div class="address-bar">
                        <h2 class="form-heading"><i class="fa-solid fa-location-dot"></i>Address:<span>VPO MEHARI
                                (DIST)CHURU RAJASTHAN</span></h2>
                        <h2 class="form-heading"><i class="fa-solid fa-phone"></i>Phone:<span>9783636152</span></h2>
                        <h2 class="form-heading"><i
                                class="fa-solid fa-envelope"></i>Email:<span>tcchoudhary13@gmail.com</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer'); -%>