<%- include('partials/header'); -%>

    <section id="project">
        <div class="our-project">
            <div class="devide-2">
                <div class="project">
                    <span class="span-heading">ACCOMPLISHMENTS</span>
                    <h3 class="bigg">Our Projects
                    </h3>
                    <p class="pra">Far far away, behind the word mountains, far from the countries Vokalia and
                        Consonantia

                    </p>
                </div>
                <div class="divid-6">
                    <div class="img"><a href="https://www.w3schools.com/w3css/tryw3css_templates_band.htm"><img
                                src="/img/band.webp" alt="band"></a>
                        <h2>the Band</h2>
                    </div>
                    <div class="img"><a href="https://www.w3schools.com/w3css/tryw3css_templates_architect.htm"><img
                                src="/img/arch.webp" alt="Architect"></a>
                        <h2>Architect</h2>
                    </div>
                    <div class="img"><a href="https://www.axiswebart.com/"><img src="/img/axis.webp" alt="axisweb"></a>
                        <h2>axisweb art</h2>
                    </div>
                    <div class="img"><a href="https://eesa.in/"><img src="/img/eesa.webp" alt="eesa"></a>
                        <h2>eesa.in</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <%- include('partials/footer'); -%>