<%- include('partials/header'); -%>


    <section id="service">
        <div class="service-container">
            <div class="devide-2">
                <div class="main-container-service">
                    <span class="span-heading">I AM GRAT AT </span>
                    <h2 class="bigg">We do awesome services for our clients </h2>
                    <p class="pra">Far far away, behind the word mountains, far from the countries Vokalia and
                        Consonantia
                    </p>
                </div>

                <div class="divid-6">
                    <div class="shadow">
                        <div class="awsome-icon-hover"><img src="webdesign.png" alt=""></div>
                        <div class="service-heading">
                            <h3>Web Design
                            </h3>
                            <p class="pra">A small river named Duden flows by their place and supplies.</p>
                        </div>
                    </div>
                    <div class="shadow">
                        <div class="awsome-icon-hover"><img src="webdevlo.jpg" alt=""></div>
                        <div class="service-heading">
                            <h3>Web Development</h3>
                            <p class="pra">A small river named Duden flows by their place and supplies.</p>
                        </div>
                    </div>
                    <div class="shadow">
                        <div class="awsome-icon-hover"><img src="banner.png" alt=""></div>
                        <div class="service-heading">
                            <h3>Banner Design</h3>
                            <p class="pra">A small river named Duden flows by their place and supplies.</p>
                        </div>
                    </div>
                    <div class="shadow">
                        <div class="awsome-icon-hover"><img src="webdevlo.jpg" alt=""></div>
                        <div class="service-heading">
                            <h3>Content Writer</h3>
                            <p class="pra">A small river named Duden flows by their place and supplies.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer'); -%>